@import url('https://fonts.googleapis.com/css2?family=Combo&family=Oswald:wght@200;400&display=swap');

body {
	font-family: 'Oswald', sans-serif;
}

header {
	font-family: 'Combo', cursive;
	font-size: 4rem;
    text-align: center;
    height: 10%;
    background-color: darkslategrey;
    color: lightgray;
    width: 100%;
}

section {
	font-weight: 200;
    font-size: 1.5rem;
    border: 5px solid black;
    text-align: center;
    margin: 30px 20px 30px 20px;
}

